body{
    background-image: url("imagenes/wallpaper.jpg");
}

#cabecera{
    width: 1130px;
    height: 60px;
    border: 2px solid #ff5e00;
    background-image: url("imagenes/rojo.jpg");
    padding-left: 800px;
    padding-bottom: 2%;
    margin-bottom: 15px;
}

/*Menu*/
nav{
    width: 100%;
    height: 40px;
    padding-bottom: 2%;
    display: inline-block;
}

ul{
    list-style: none;
}

li{
    float:left;
}

li a{
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    width: 420px;
    height: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

li a:hover{
    background-color: rgb(129, 116, 116);
}

li ul{
    display: none;
    position: absolute;
}

li:hover > ul{
    display: block;
}

main{
    margin-left: 10%;
    width: 1550px;
    height: 800px;
    border: 2px solid #ff5e00;
    margin-top: 15px;
    background-image: url("imagenes/rojo.jpg");
    margin-top: 15px;
}

/*Pie de pagina*/
footer{
    width: 1900px;
    height: 130px;
    border: 2px solid #747271;
    margin-top: 15px;
    background-color: #000000;
    color: #ffffff;
    padding: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
}

#titulo{
    position: relative;
    color: #ffffff;
    font-size: 40px;
    font-family: 'Trebuchet MS';
}

/*Artículos*/
#articulos{
    display: inline-block;
}

#articulo1{
    float: left;
    border: 2px solid #ff5e00;
    background-image: url("imagenes/blanco.jpg");
    width: 379px;
    height: 373px;
    margin: 10px;
    padding-left: 100px;
    font-family: Georgia;
}

#articulo2{
    float: left;
    background-image: url("imagenes/blanco.jpg");
    width: 1420px;
    height: 780px;
    margin: 10px;
    padding-left: 100px;
    font-family: Georgia;
    display: inline-block;
}


#articulo2 > article{
    height: 740px;
    width: 650px;
    float: left;
    margin: 7px;
}

#barra{
    border-right: 4px solid #000000;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    padding-left: 10px;
}


#articulo1:hover{
    background-image: url("imagenes/amarillo.jpg");
}

#producto{
    width: 280px;
    height: 280px;
}

#t_articulo{
    font-size: 20px;
}

/*Anuncios*/
#anuncios1{
    width: 160px;
    height: 800px;
    float: left;
    border: 2px solid #ff5e00;
    background-image: url("imagenes/rojo.jpg");
    margin-top: 15px;
}

#anuncio1{
    width: 160px;
    height: 100px;
}

#anuncio2{
    width: 160px;
    height: 70px;
}

#anuncio3{
    width: 160px;
    height: 200px;
}

#anuncio4{
    width: 160px;
    height: 160px;
}

#anuncio5{
    width: 160px;
    height: 100px;
}

#anuncio6{
    width: 160px;
    height: 150px;
}


/*Iniciar sesión:*/
#login{
    position: absolute;
    top: 220px;
    left: 1770px;
    width: 140px;
    height: 140px;
    border: 2px solid #ff5e00;
    background-image: url("imagenes/rojo.jpg");
    margin-top: 15px;
    padding: 15px;
}

#login1 , #login{
    color: white;
}

#username{
    margin: 1px;
    width: 100px;
}

#password{
    margin: 1px;
    width: 100px;
}

#fieldset{
    width: 100px;
}


/*Compras*/
#future{
    font-size: 35px;
}

#kanye{
    font-size: 30px;
}

#imagen{
    margin-left: 20px;
    width: 500px;
    height: 500px;
    border: outset 5px #ff0000;
    background-image: url("imagenes/illmatic.jpg"); 
}

#imagen:hover{
    background-image: url("imagenes/illmatic-back.jpg");
}

#imagen1{
    margin-left: 20px;
    width: 500px;
    height: 500px;
    border: outset 5px #ff0000;
    background-image: url("imagenes/high_off_life_future.jpg"); 
}

#imagen1:hover{
    background-image: url("imagenes/future-back.jpg"); 
}

#imagen2{
    margin-left: 20px;
    width: 500px;
    height: 500px;
    border: outset 5px #ff0000;
    background-image: url("imagenes/freddie_piñata.jpg"); 
}

#imagen2:hover{
    background-image: url("imagenes/freddie-back.jpg"); 
}

#imagen3{
    margin-left: 20px;
    width: 500px;
    height: 500px;
    border: outset 5px #ff0000;
    background-image: url("imagenes/keef.jpg"); 
}

#imagen3:hover{
    background-image: url("imagenes/keef-back.jpg"); 
}

#imagen4{
    margin-left: 20px;
    width: 500px;
    height: 500px;
    border: outset 5px #ff0000;
    background-image: url("imagenes/wwcd_griselda.jpg"); 
}

#imagen4:hover{
    background-image: url("imagenes/wwcd-griselda-back.jpg"); 
}

#imagen5{
    margin-left: 20px;
    width: 500px;
    height: 500px;
    border: outset 5px #ff0000;
    background-image: url("imagenes/tlop.jpg"); 
}

#imagen5:hover{
    background-image: url("imagenes/tlop-back.jpg"); 
}


#fieldset2>input{
    width: 650px;
    margin-top: 10px;
    margin-bottom: 5px;
}

#numeros{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
}

textarea{
    resize: none;
    width: 650px;
    height: 200px;
    margin-top: 5px;
}

#descripcion{
    font-size: 20px;
}


/*Imagenes - ¿Quienes somos?*/
#tienda1{
    width: 500px;
    height: 300px;
}

#tienda2{
    width: 400px;
    height: 300px;
}

#tienda3{
    width: 500px;
    height: 300px;
}

#tienda4{
    width: 500px;
    height: 300px;
}

#tienda5{
    width: 600px;
    height: 300px;
}

#tienda6{
    width: 300px;
    height: 300px;
}

a{
    color: #000000;
}